@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "GeistMono";
    src: url(fonts/GeistMonoVF.woff) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Geist";
    src: url(fonts/GeistVF.woff) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Rajdhani";
    src: url(fonts/Rajdhani-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Rajdhani-Medium";
    src: url(fonts/Rajdhani-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Oswald-ExtraLight";
    src: url(fonts/Oswald-ExtraLight.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Oswald-Light";
    src: url(fonts/Oswald-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: "Oswald";
    src: url(fonts/Oswald-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Oswald-Medium";
    src: url(fonts/Oswald-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: "Oswald-SemiBold";
    src: url(fonts/Oswald-SemiBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Oswald-Bold";
    src: url(fonts/Oswald-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "NotoSansKR-Light";
    src: url(fonts/NotoSansKR-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: "NotoSansKR";
    src: url(fonts/NotoSansKR-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "NotoSansKR-Medium";
    src: url(fonts/NotoSansKR-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: "NotoSansKR-SemiBold";
    src: url(fonts/NotoSansKR-SemiBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}


/*Helvetica*/
body {
  color: #ededed;
  /*background: var(--background);*/
  /*font-family: helvetica,arial,sans-serif;*/
  font-family: Rajdhani-Medium, NotoSansKR;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
